body {
  background-color: teal;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.25rem;
}

#App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
#timeCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

#display {
  display: flex;
}

.button {
  display: flex;
}

button {
  outline: 0;
  background-color: teal;
  box-shadow: 0;
  border: 0;
  color: white;
}

button:active {
  box-shadow: inset 0 0 10px gold;
}

#time-left {
  font-size: 3.5rem;
}

#session-length,
#break-length {
  font-size: 1em;
  padding: 10px;
}